profiles {
    local {
       process.executor = 'local'
       process {
        withName:FASTQC {
            container = 'biocontainers/fastqc:v0.11.9_cv8'
        }
        withName:MULTIQC {
            container = 'quay.io/biocontainers/multiqc:1.13a--pyhdfd78af_1'
        }
        withName:TRIM {
            container = 'quay.io/biocontainers/trimmomatic:0.32--hdfd78af_4'
        }
       }
       docker.enabled = true
       docker.fixOwnership = true 
       report.overwrite = true
       timeline.overwrite = true
       trace.overwrite = true
       dag.overwrite = true
    }
}
