profiles {
    local {
       process.executor = 'local'
       process {
            withName:TRIMMING {
                container = 'quay.io/biocontainers/trimmomatic:0.32--hdfd78af_4'
            }
            withName:FASTQC {
                container = 'biocontainers/fastqc:v0.11.9_cv8'
            }
            withName:MULTIQC {
                container = 'quay.io/biocontainers/multiqc:1.13a--pyhdfd78af_1'
            }   
            withName:ALIGNMENT {
                container = 'quay.io/biocontainers/bwa:0.7.17--h7132678_9'
            }
            withName:SAM_TO_BAM {
                container = 'quay.io/biocontainers/samtools:1.15.1--h1170115_0'
            }
            withName:ADD_READGROUPS {
                container = 'broadinstitute/gatk:4.2.6.1'
            }
            withName:MARK_DUPLICATES {
	            container = 'broadinstitute/gatk:4.2.6.1'
            }
            withName:BASERECALIBRATION {
                container = 'broadinstitute/gatk:4.2.6.1'
            }
            withName:BQSR {
                container = 'broadinstitute/gatk:4.2.6.1'
            }
            withName:INDEX_BAM {
                container = 'quay.io/biocontainers/samtools:1.15.1--h1170115_0'
            }
            withName:FAMILY_CALL {
                container = 'broadinstitute/gatk:4.2.6.1'
            }
            withName:COHORT_COMB {
                container = 'broadinstitute/gatk:4.2.6.1'
            }
            withName:FREEBAYES {
                container = 'quay.io/biocontainers/freebayes:1.3.6--hbfe0e7f_2'
            }   
       }
       docker.enabled = true
       //docker.fixOwnership = true 
       //docker.runOptions= "-v $PWD:$HOME"
       report.overwrite = true
       timeline.overwrite = true
       trace.overwrite = true
       dag.overwrite = true
    }
    
    batch {
        aws.region = 'us-west-1'
        process {
            withName:TRIMMING {
                container = 'quay.io/biocontainers/trimmomatic:0.32--hdfd78af_4'
            }
            withName:FASTQC {
                container = 'biocontainers/fastqc:v0.11.9_cv8'
            }
            withName:MULTIQC {
                container = 'quay.io/biocontainers/multiqc:1.13a--pyhdfd78af_1'
            }
            withName:ALIGNMENT {
                container = 'quay.io/biocontainers/bwa:0.7.17--h7132678_9'
            }
            withName:SAM_TO_BAM {
                container = 'quay.io/biocontainers/samtools:1.15.1--h1170115_0'
            }
            withName:ADD_READGROUPS {
                container = 'broadinstitute/gatk:4.2.6.1'
            }
            withName:MARK_DUPLICATES {
	            container = 'broadinstitute/gatk:4.2.6.1'
            }
            withName:BASERECALIBRATION {
                container = 'broadinstitute/gatk:4.2.6.1'
            }
            withName:BQSR {
                container = 'broadinstitute/gatk:4.2.6.1'
            }
            withName:INDEX_BAM {
                container = 'quay.io/biocontainers/samtools:1.15.1--h1170115_0'
            }
            withName:FAMILY_CALL {
                container = 'broadinstitute/gatk:4.2.6.1'
            }
            withName:COHORT_COMB {
                container = 'broadinstitute/gatk:4.2.6.1'
            }
            withName:FREEBAYES {
                container = 'quay.io/biocontainers/freebayes:1.3.6--hbfe0e7f_2'
            }   
       }
        process.executor = 'awsbatch'
        process.queue = 'nextflow_ec2'
        process.cpus = 16
        process.disk = '200 GB'
        process.memory = '64 GB'
        workDir = 's3://output_bucket/work'
        report.overwrite = true
        timeline.overwrite = true
        trace.overwrite = true
        dag.overwrite = true
  }
}
